name: Diffuse

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
      - main
      - trunk
      - develop
      - maine
      - mane

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

jobs:
  run-diffuse:
    env:
      github_token: ${{ secrets.GITHUB_TOKEN }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 24

      - uses: gradle/actions/setup-gradle@v5

      - run: ./gradlew assembleGraphqlRelease

      - uses: actions/cache@v4
        name: Download base
        if: github.event_name == 'pull_request'
        with:
          path: |
            diffuse-source-file-release
            diffuse-mapping-file-release
          key: diffuse-${{ github.event.pull_request.base.sha }}-always-cache-miss
          restore-keys: diffuse-${{ github.event.pull_request.base.sha }}
          enableCrossOsArchive: true

      - id: diffuse
        uses: usefulness/diffuse-action@master
        if: github.event_name == 'pull_request'
        with:
          debug: true
          old-file-path: diffuse-source-file-release
          old-mapping-path: diffuse-mapping-file-release
          new-file-path: app/build/outputs/apk/graphql/release/app-graphql-release-unsigned.apk
          new-mapping-path: app/build/outputs/mapping/graphqlRelease/mapping.txt

      - uses: peter-evans/find-comment@v4
        id: find_comment
        if: github.event_name == 'pull_request'
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body-includes: Diffuse output

      - uses: peter-evans/create-or-update-comment@v5
        if: ${{ steps.diffuse.outputs.diff-gh-comment != null || steps.find_comment.outputs.comment-id != null }}
        with:
          body: |
            Diffuse output:

            ${{ steps.diffuse.outputs.diff-gh-comment }}

            File path: `${{ steps.diffuse.outputs.diff-file }}`
          edit-mode: replace
          comment-id: ${{ steps.find_comment.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/upload-artifact@v6
        if: github.event_name == 'pull_request'
        with:
          name: diffuse-output
          path: ${{ steps.diffuse.outputs.diff-file }}
